*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Popins', sans-serif;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
header{
    z-index: 1;
    display: flex;
    width: 80%;
    height: 6vh;
    margin: auto;
    align-items: center;
    background-color: white;
    margin-left: 10%;
    position: fixed;
}
header h4{
    color: #5f5f79;
}
.logo-conteiner,.nav-links,.cart{
    display: flex;
}

.logo-conteiner{ 
    flex: 0.5;
}
.logo{
    cursor: pointer;
    font-weight: 400;
    margin: 5px;
}

nav{
    flex: 2.3;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
.nav-link{
    color: #5f5f79;
    text-decoration: none;
    font-size: 18px;
}
.cart{
    cursor: pointer;
    margin-right: 75px;
}
.prezentacija{
    display: flex;
    width: 80%;
    margin: auto;
    min-height: 90vh;
    align-items: center;
}
.prezentacija-title{
    display: flex;
    width: 80%;
    margin: auto;
    min-height: 90vh;
}
.introdukcija-title{
   width: 60%;
   margin: auto;
}
.title{
    font-size: 44px;
    font-weight: 500px;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text h1{
    font-size: 44px;
    font-weight: 500px;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p{
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}
.cta{
    padding: 30px 0px 0px 0px;
}
.cta-gts{
    margin-left: 225px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    border: 2px solid #585772;
    background-color: transparent;
    color: #585772;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}
.cta-gts:hover{
    border: 2px solid ;
    cursor: pointer;
    background-color: #585772;
    color: white;
    transition: 0.6s ease;
}
.cta-add:hover{
    border: 2px solid #585772;
    cursor: pointer;
    background-color: white;
    color: #585772;
    transition: 0.6s ease;
}
.cta-add{
    border: 2px solid none;
    background-color: #585772;
    color: #fff;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
}
.cover{
    position: relative;
    flex: 2;
}
.cover img{
    height: 60vh;
    width: 60vh;
    filter: drop-shadow(0px 5px 3px black);
}
.contact{
    min-height: 60vh;
    width: 80%;
    margin: auto;
}
.contact-text{
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    display: block;
    border-radius: 15px;
    margin-bottom: 9px;
    padding: 10px;
    border: 1px solid #585772;
}
.name-email{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
input[type=text]{
    width: 300px;
}
input[type=email]{
    width: 300px;
}
input[type=submit]{
    width: 100px;
    margin-bottom: 50px;
}
input[type=submit]:hover{
    cursor: pointer;
    background-color: #585772;
    color: white;
    transition: 0.6s ease;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
